# Exclude virtual envs and caches
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VCS
.git/
.gitignore

# Build artifacts
build/
dist/
.eggs/
*.egg-info/

# OS / IDE
.DS_Store
.vscode/

# Large generated docs images (they'll be re-created at runtime)
Docs/*.png

# Not needed in image
.pdm.toml
